.footer {
  background-color: black;
  height: 55vh;
  padding: 4.25rem 2.5rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
  }
}
