.container {
  position: relative;
  margin: 3.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow-y: hidden;
}

.promo {
  display: flex;
  width: 90%;
  transition: all 0.5s;
}

.rotate {
  text-decoration: none;
  background-color: #ffffff;
  height: auto;
  align-self: stretch;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 5%;
}

.rotate i {
  font-size: 1rem;
  color: black;
  background-color: #eeeeee;
  padding: 0.625rem;
  border-radius: 50%;
}

@media screen and (max-device-width: 768px) {
  .container {
    margin: 2rem 0;
  }

  .rotate {
    display: none;
  }
}
