.radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.radio div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.radio div label {
  font-size: 14px;
}

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  width: 22px;
  height: 22px;
  border: 3px solid #b6b6b6;
  border-radius: 50%;
  background-clip: content-box;
  margin-right: 1rem;
  padding: 3px;
  vertical-align: middle;
}

input[type="radio"]:checked {
  background-color: black;
}

.priceRange {
  display: flex;
  margin-bottom: 2rem;
}

.dietLimit {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  word-wrap: unset;
}
